.parallax{
    background-image: url('https://cdn.pixabay.com/photo/2014/08/27/08/11/blogging-428955_960_720.jpg');
    min-height: 320px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }