<div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-md-12">
        <h1 class="text-center">Sejam Bem Vindos ao meu blog!</h1>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-12">
        <p class="text-center lead">Neste projeto, o desafio foi de construir uma API com Json-Server
           e consumir os dados em um feed de mensagens desenvolvido em Angular.</p>

      </div>
    </div>
  
    <div class="parallax"></div>
  
    <div class="row mt-5 mb-5">
      <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-lg btn-outline-dark" routerLink='/feed'>Ver os feeds</button>
      </div>
    </div>
  </div>